<div style="text-align: center;">
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <h3>ini iklan</h3>
    <img src="assets/images/ads/ads1.png" height="300" alt="">
</div>
